.content-area {
	display: flex;
}

.grid-sizer {
	width: 25%;
}

.product-item {
	margin-top: 16px;
	max-width: 205px;
	min-height: 260px;

	&__preview {
		max-width: 210px;
		max-height: 210px;
	}

	&__title {
		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
		text-align: center;
		font-weight: normal;
		padding: 1em 1em 0 1em;
		font-size: 75%;
		color: rgba(0, 0, 0, 0.6);
		width: 100%;
	}
}