<section class="top-nav">
	<ul class="top-nav-list">
		<a class="top-nav__link" href=""><li class="top-nav-list__item">Бонистика</li></a>
		<a class="top-nav__link" href=""><li class="top-nav-list__item">Новинки</li></a>
		<a class="top-nav__link" href=""><li class="top-nav-list__item">Нумизматика</li></a>
		<a class="top-nav__link" href=""><li class="top-nav-list__item">Разное</li></a>
		<a class="top-nav__link" href=""><li class="top-nav-list__item">Ценные бумаги</li></a>
		<a class="top-nav__link" href=""><li class="top-nav-list__item">Авторы</li></a>
		<a class="top-nav__link" href=""><li class="top-nav-list__item">Контакты</li></a>
	</ul>
</section>