.top-nav-list {
	list-style-type: none;
	display: flex;
}

.top-nav {
	display: flex;
	justify-content: center;
	margin-top: 18px;
	margin-bottom: 10px;

	&__link {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.6);
		font-size: 11px;
		text-transform: uppercase;
		padding: 0px 11px;
		border-right: 1px solid #000000;

		&:last-child {
			border-right: none;
		}

		&:hover {
			color: rgba(0, 0, 0, 1);
		}
	}

	&__item {
	}
}