.footer {
	font-size: 12px;
	margin-bottom: 2em;
}

.copyright {
	display: flex;
	justify-content: center;
	color: rgba(0, 0, 0, 0.6);
	padding-top: 0.5em;
	padding-bottom: 2em;

	&__mailto {
		padding: 0 0.5em;
		color: rgba(0, 0, 0, 1);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}