.header {
	display: flex;
	justify-content: space-between;
	padding-top: 26px;

	&__icon {
		width: 340px;
		height: 81px;
		background-image: url('../img/logo.png');
		background-repeat: no-repeat;
	}

	&__input {
		display: flex;
		margin-top: auto;
		font-size: 11px;
		color: #000000;
		opacity: 0.6;
		padding-bottom: 18px;
	}
}

.input {
	&-search {
		width: 220px;
	}

	&-button {
		cursor: pointer;
		width: 36px;
		padding: 2px;
		background-color: #ffffff;
		border: none;
	}
}