<header class="header">
	<div class="header__icon"></div>
	<div class="header__input">
		<input class="input-search" type="text">
		<input class="input-button" type="button" value="Поиск">
	</div>
</header>