h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	@include container();
	@include sm(max-width, 510px);
	@include md(max-width, 690px);
	@include lg(max-width, 930px);
	@include xl(max-width, 1110px);
}

.container-main {
	max-width: 820px !important;
	padding: 0 !important;
}